body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    background: linear-gradient(to left, #dcdcdc 0%, #ffffff 50%, #dcdcdc 100%);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2c1c6;
    padding: 10px 20px;
    color: white;
}

.logo h1 {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: white;
    color: #f2c1c6;
}

#darkModeToggle {
    background-color: white;
    color: #f2c1c6;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

#darkModeToggle:hover {
    background-color: #333;
    color: white;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
}

.main-image {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 10px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #f2c1c6;
    text-align: center;
}

h2 {
    color: #f2c1c6;
}

ul {
    padding-left: 20px;
}

/* Kartiņas */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 60%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: #f2c1c6;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.location {
    text-align: center; 
    margin-top: 30px; 
}

.map {
    display: inline-block; 
    margin-top: 20px;
    filter: none;
}

iframe {
    width: 100%;
    max-width: 600px; 
    height: 450px;
    width: 1000px;
    border: none; 
    margin-bottom: 30px;
}

/* Kājene */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #f2c1c6;
}


body.dark-mode #darkModeToggle {
    background-color: #f2c1c6;
    color: white;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

body.dark-mode #darkModeToggle:hover {
    background-color: #333;
    color: white;
}

body.dark-mode {
    background-color: #333;
    background: linear-gradient(to left, #292828 0%, #333 50%, #292828 100%);
    color: #f5f5f5;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode .navbar a {
    color: white;
}

body.dark-mode .navbar a:hover {
    background-color: #f2c1c6;
    color: white;
}

body.dark-mode .card {
    background-color: #444;
    color: white;
}

body.dark-mode .modal-content {
    background-color: #444;
    color: white;
}

body.dark-mode .aside {
    background-color: #333;
    color: white;
    background: linear-gradient(to left, #292828 0%, #333 50%, #292828 100%);
}

body.dark-mode .aside ul li a{
    color: white;
}

body.dark-mode .aside h2 {
    color: white;
}

body.dark-mode .map {
    filter: invert(100%);
}

body.dark-mode footer {
    background-color: #444;
}
